
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at 20% 20%, #022c22, #020617);
  color: white;
  overflow: hidden;
}
.glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
}
